<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How do I sign up?</h4>
      <p>Look at the top right hand of your screen!!</p>
    </div>

    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Do I have to have a membership?</h4>
      <p>VIBEZ allows you to use the application without a membership, but a membership is preferred!</a></p>
    </div>


    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Need Help?</h4>
      <p>Feel free to <a href="/contact">contact</a> us with your questions and concerns!</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
