<div id="homepage" v-cloak>
  <div
    style="padding-top: 100px; padding-bottom: 25px; color: red"
    class="d-flex flex-column justify-content-center position-relative"
    purpose="full-page-hero"
  >
    <div class="container text-center">
      <div
        style="width: 220px; height: 170px"
        class="mx-auto position-relative"
      >
        <img
          style="width: 800px; bottom: -300px; left: -300px"
          class="position-absolute"
          purpose="ship"
          alt="vibez logo"
          src="/asset/images/vvvv.jpg"
        />
      </div>
      <div>
        <div
          style="cursor: pointer; bottom: 25px; left: 0"
          class="position-absolute w-100 mt-5"
          purpose="more-info-text"
          @click="clickHeroButton()"
        >
          <div
            style="letter-spacing: 2px"
            class="text-uppercase font-weight-bold"
          >
            CATCH A VIBE
          </div>
          <div style="font-size: 20px">&darr;</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <div class="pt-5" purpose="setup-section">
      <h3 class="text-center">Make your playlist:</h3>
      <div class="position-relative my-5" purpose="setup-step">
        <div
          style="left: 0; top: 0; width: 140px"
          class="position-absolute d-none d-lg-block">
        </div>
        <h5>To start making your playlist:</h5>
        <p>
         Create a <a href="/signup">VIBEZ account</a>t! Once you have created a VIBEZ account, you can access the application and create a playlist. This playlist will be availabe to you when wifi is not available.  This allows you to VIBE ON when your "unplugged!
        </p>
      
        <blockquote>
          <small
            >This app also includes a default
            <a href="/legal/terms">Terms of Use</a> and
            <a href="/legal/privacy">Privacy Policy</a>. We want to make it
            easier for apps to be transparent about their users' rights and
            privacy. But we are developers, not lawyers; and this is
            <em>definitely not legal advice</em>. Before going live, be sure to
            replace these example documents with your own company's policies,
            and
            <a href="https://en.wikipedia.org/wiki/Counsel" target="_blank"
              >seek counsel</a
            >
            for assistance if you need to design new terms from scratch.</small
          >
        </blockquote>
      </div>
      <div class="position-relative my-5" purpose="setup-step"></div>
    </div>
    <hr />
    <div class="text-center py-5" purpose="pep-talk">
      <h3>How can we do better?!</h3>
      <p style="max-width: 800px" class="mx-auto">
        We think this project is a pretty convenient starting point, but of
        course there's always room to grow!
      </p>
      <p><strong>Help us make something people want to use!</strong></p>
      <p class="mb-5">
        <span class="text-muted">&hearts;</span>
        <a href="http://localhost:1337/contact" class="border-0"
          >The Vibez Team</a
        >
      </p>
    </div>
  </div>

  <div
    style="background-color: rgba(238, 245, 249, 0.72)"
    class="text-center py-5"
    purpose="scroll-destination"
  >
    <div class="container pt-3 pb-5" purpose="about-section">
      <h3>Good <strong>VIBEZ</strong> for good <strong>TIMEZ</strong>!</h3>
      <p style="max-width: 800px" class="mx-auto">
        No wifi got you down? No signal killing the vibe? Introducing
        <strong>VIBEZ</strong>!! An application to get you to your destination!
      </p>
      <div class="row pt-5">
        <div class="mb-4 mb-sm-0 col-sm">
          <div
            style="
              color: #fff;
              background-color: red;
              font-size: 35px;
              line-height: 75px;
              height: 75px;
              width: 75px;
            "
            class="rounded-circle mx-auto text-center mb-3"
          >
            <i class="fa fa-envelope"></i>
          </div>
          <h4>Emails</h4>
          <p class="text-muted">
            Need Support? <a href="/contact">Contact us</a>! 
          </p>
        </div>
        <div class="pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
          <div
            style="
              color: #fff;
              background-color: red;
              font-size: 35px;
              line-height: 75px;
              height: 75px;
              width: 75px;
            "
            class="rounded-circle mx-auto text-center mb-3"
          >
            <i class="fa fa-lock"></i>
          </div>
          <h4>Authentication</h4>
          <p class="text-muted">
            Ready-to-go? <a href="/signup">Sign up</a>,
            <a href="/login">Login</a>, and
            <a href="/password/forgot">Password recovery</a>.
          </p>
        </div>
        <div class="pt-4 pt-sm-0 col-sm">
          <div
            style="
              color: #fff;
              background-color: red;
              font-size: 35px;
              line-height: 75px;
              height: 75px;
              width: 75px;
            "
            class="rounded-circle mx-auto text-center mb-3"
          >
            <i class="fa fa-credit-card"></i>
          </div>
          <h4>Billing</h4>
          <p class="text-muted">
            Premium access coming soon!
          </p>
        </div>
      </div>
      <a class="btn btn-outline-info mt-3" href="/faq">Learn more</a>
    </div>
  </div>
  <div class="container pt-5">
    <hr />
    <div class="text-center py-5" purpose="pep-talk">
      <h3>How can we do better?!</h3>
      <p style="max-width: 800px" class="mx-auto">
        We think this project is a pretty convenient starting point, but of
        course there's always room to grow!
      </p>
      <a href="/contact"><strong>Help us make something people want to use!</strong></a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
